@model SportStore.Web.Models.Client.AccountModel

@{
    ViewBag.Title = "Zarządzanie kontem";
}

<link href="~/Content/Css/AccountManagmentCss/account-managment.css" rel="stylesheet" type="text/css" />

<div class="panel">
    <div class="row">
        <div id="left" class="col-md-6">
            <div class="panel panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">Dane personalne</div>
                    <div class="panel-body">

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="email" class="col-md-2">Login:</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(x => x.Login, new { htmlAttributes = new { @class = "form-control", @id = "email", @disabled = "true" } })
                                        <span class="help-block">Twój login do serwisu SportStore</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="name" class="col-md-2">Imię:</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @id = "name", @type = "text" } })
                                        <span class="help-block">Twoje imię</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="surname" class="col-md-2">Nazwisko:</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(x => x.Surname, new { htmlAttributes = new { @class = "form-control", @id = "surname", @type = "text" }})
                                        <span class="help-block">Twoje nazwisko</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="date" class="col-md-2">Data urodzenia:</label>
                                    <div class="col-md-10">
                                        <input type="date" class="form-control" id="date" value="@Model.DateOfBirth.ToShortDateString()" />
                                        <span class="help-block">Twoja data urodzenia</span>
                                    </div>
                                </div>
                            </div>

                        <button class="btn btn-primary" data-toggle="modal" data-target="#changePassword" style="float: right; margin-right: 10px;">Zmiana hasła</button>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Dane wysyłkowe</div>
                    <div class="panel-body">

                        @using (Html.BeginForm("EditDeliveryData", "Client", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.Login)
                            @Html.HiddenFor(x => x.Id)

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="street" class="col-md-2">Ulica:</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(x => x.Street, new { htmlAttributes = new { @class = "form-control", @id = "street", @type = "text" }})
                                        <span class="help-block">Ulica podana przy rejestracji</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="postalcode" class="col-md-2">Kod pocztowy:</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(x => x.PostalCode, new { htmlAttributes = new { @class = "form-control", @id = "postalcode", @type = "text" }})
                                        <span class="help-block">Kod pocztowy podany przy rejestracji</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="city" class="col-md-2">Miasto:</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(x => x.City, new { htmlAttributes = new { @class = "form-control"}, @id = "city", @type = "text"})
                                        <span class="help-block">Miasto podane przy rejestracji</span>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success" style="float:right;">Zapisz zmiany</button>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div id="right" class="col-md-6">

            <div id="navi" class="panel panel-success">
                <div class="panel-heading">Nawigacja</div>
                <div class="panel-body">

                    <div id="gorny" class="row">
                        <div class="col-md-6">

                            <a href='@Url.Action("Cart", "Home")' class="btn btn-lg btn-primary" id="ck">
                                <img id="koszyk" src="~/Content/Images/AccountManagment/shopping-cart.png" width="50" height="50" />
                                <label for="koszyk">Koszyk</label>
                            </a>
                        </div>
                        <div class="col-md-6">

                            <a href='@Url.Action("OrdersList", "Client")' id="ok" class="btn btn-lg btn-primary">
                                <img id="orders" src="~/Content/Images/AccountManagment/orders.png" width="50" height="50" />
                                <label for="orders">Zamówienia</label>
                            </a>
                        </div>
                    </div>

                    <div id="dolny" class="row">
                        <div class="col-md-6">

                            <a href="#" class="btn btn-lg btn-primary">
                                <img id="reklamacje" src="~/Content/Images/AccountManagment/complaint.png" width="50" height="50" />
                                <label for="reklamacje">Reklamacje</label>
                            </a>
                        </div>
                        <div class="col-md-6">

                            <a href='@Url.Action("Notyfications", "Client")' class="btn btn-lg btn-primary">
                                <img id="powiadomienia" src="~/Content/Images/AccountManagment/notice.png" width="50" height="50" />
                                <label for="powiadomienia">Powiadomienia <span class="badge">@Model.UnreadNotifications</span></label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal zmiany hasła*@
<div class="modal fade" id="changePassword" role="dialog" style="font-family: 'Open Sans', Arial;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Zmiana hasła do serwisu</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ChangeClientPassword", "Client", FormMethod.Post))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="oldPassword" class="control-label col-md-3">Stare hasło:</label>
                            <div class="col-md-9">
                                @Html.Hidden("Id", Model.Id)
                                @Html.Editor("oldPassword", "oldPassword", "oldPassword", new { htmlAttributes = new { @placeholder = "Stare hasło", @class = "form-control", @id = "oldPassword", @type = "password" }})
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="newPassword" class="control-label col-md-3">Nowe hasło:</label>
                            <div class="col-md-9">
                                @Html.Editor("newPassword", "newPassword", "newPassword", new { htmlAttributes = new { @placeholder = "Nowe hasło", @class = "form-control", @id = "newPassword", @type = "password" } })
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal" style="margin-bottom: 25px;">
                        <div class="form-group">
                            <label for="comparePassword" class="control-label col-md-3">Powtórz hasło:</label>
                            <div class="col-md-9">
                                @Html.Editor("comparePassword", "comparePassword", "comparePassword", new { htmlAttributes = new { @placeholder = "Powtórz hasło", @class = "form-control", @id = "comparePassword", @type = "password" } })
                            </div>
                        </div>
                    </div>

                    <button id="buttonChange" type="submit" class="btn btn-primary" style="float:right; margin-top: -25px;">Zmień hasło</button>
                }
            </div>
            <div class="modal-footer">
                <button type="button" style="float:left;" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function comparePasword()
    {
        
    }

</script>