@model SportStore.Web.Models.Client.OrderPDFModel

@{
    ViewBag.Title = "Zamówienie nr: " + Model.Order.Id;
}

<div id="panel" class="">

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Opcje dostawy</div>
                <div class="panel-body">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="type" class="control-label col-md-2">Typ:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(x => x.Order.OrderDelivery.Name, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "type", @disabled = true } })
                            </div>
                        </div>
                    </div>
  
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="priceDelivery" class="control-label col-md-2">Koszt:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(x => x.Order.OrderDelivery.Price, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "priceDelivery", @disabled = true } })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Status</div>
                <div class="panel-body">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="status" class="control-label col-md-2">Status zamówienia:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(x => x.Order.OrderStatus.Name, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "status", @disabled = true } })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">Adres dostawy</div>
                <div class="panel-body">
                    <table>
                        <tbody>
                            @{ 
                                var adSplit = Model.Order.AdressToDelivery.Split(new char[] { ';' });

                                foreach(var item in adSplit)
                                {
                                    <tr>
                                        <td>@item</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="row" style="margin-top: 139px;">
                        <div class="col-md-6">
                            <a onclick="confirmComplaint()"  class="btn btn-primary">Złóż reklamację</a>
                        </div>
                        <div class="col-md-6">
                            <a href='@Url.Action("PDF", new { orderId = Model.Order.Id })' style="float:right; margin-top: 10px;">Wygeneruj fakturę PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Zamówienie nr: @Model.Order.Id <button style="float: right; margin-top: -7px;" id="edit" type="submit" value="Edytuj" class="btn btn-default">Edytuj</button> </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th role="rowheader">#</th>
                        <th >Przedmiot</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        var i = 1;

                        foreach(var item in Model.OrderDetails)
                        {
                            <tr>
                                <th>@i</th>
                                <td>@item.Item.Title</td>
                                <td>@item.Quantity</td>
                                <td>@{
                                    var price = item.Quantity * item.Item.Price;
                                }
                                @price.ToString("c")</td>
                            </tr>

                                        i++;
                                    }
                    }
                </tbody>
            </table>
            <p style="float:right;">Do zapłaty: <b>@Model.Order.ToPay.ToString("c")</b></p>
            <a href='@Url.Action("OrdersList")' class="btn btn-primary" style="margin-top:35px;">Powrót</a>
        </div>
    </div>

</div>

<style>
    #panel {
        font-family: 'Open Sans', Arial;
    }
</style>

<script type="text/javascript">

    function confirmComplaint()
    {
        var choose = confirm("Czy na pewno chcesz rozpocząć proces reklamacyjny?");

        if (choose == true)
        {

        }
        else
        {

        }
    }

</script>