@model SportStore.Web.HtmlHelpers.Classes.Cart

@{
    ViewBag.Title = "Koszyk";
    int i = 1;
}

<link href="~/Content/Css/IndexCss/cart.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-md-8">

        <h3>Mój koszyk</h3>
        <hr />

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Produkt</th>
                        <th></th>
                        <th>Ilość</th>
                        <th>Cena za 1 szt.</th>
                        <th>Cena ogólna</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Lines)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Item.Title</td>
                            <td></td>
                            <td>@item.Quantity</td>
                            <td>@item.Item.Price.ToString("c")</td>
                            <td>@{
                                var itemPrice = item.Item.Price;
                                var quantity = item.Quantity;
                                var totalPrice = itemPrice * quantity;
                            }@totalPrice.ToString("c")</td>
                        </tr>
                        i++;
                    }

                </tbody>
            </table>
        </div>

    </div>
    <div class="col-md-4">

        <h3>Podsumowanie</h3>
        <hr />

        <label for="ex1">Czy posiadasz kod promocyjny?</label>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" id="ex1" type="text" placeholder="Wpisz kod promocyjny">
                <button class="btn btn-primary">Wykorzystaj kod</button>
            </div>
        </form>
        <hr />

        <h6>Do zapłaty: @Model.ComputeTotalValue().ToString("c")</h6>
        <h6>W tym 23% VAT: @{
            var total = Model.ComputeTotalValue();

            if (total.Equals(new decimal(0.0)))
            {
                total.ToString("c");
            }
            else
            {
                total = decimal.Multiply(total, new decimal(0.23));
            }
        } @total.ToString("c")</h6>
        <hr />

        <button class="btn btn-success">Zamów</button>
        <p>Potrzebujesz pomocy? Zadzwoń! 69696969</p>
        <hr />

    </div>
</div>

