@model SportStore.Web.Models.Home.IndexModel

@{
    ViewBag.Title = "Strona Główna";

    var lastItems = (ViewBag.LastItems as IEnumerable<SportStore.Domain.Entities.items>);
}

<link href="~/Content/Css/IndexCss/index-employee-section.css" type="text/css" rel="stylesheet" />

<div class="panel">

    <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="~/Content/Images/Banners/1450799283.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/Content/Images/Banners/1451472370.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/Content/Images/Banners/1451474918.jpg" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <hr />
    <div class="jumbotron">
        <h1 style="text-align:center">Witamy serdecznie na stronie SportStore!</h1>
        <p style="text-align:center">Nasz sklep nastawiony jest na sprzedaż przedmiotów o charakterze sportowym.</p>
        <p style="text-align:center">Tylko u nas znajdziesz w dobrej cenie przedmioty o najwyższej jakości wykonania z pewnych zaufanych źródeł.</p>
        <p style="text-align:center">Rozejrzyj się!</p>
    </div>
    <hr />

    <h3 style="margin-left:15px;margin-top:-10px;">Ostatnie dodane produkty:</h3>
    <div class="row">
        @{
            foreach(var item in Model.LastAdded)
            {
                <div class="col-sm-4 col-lg-4, col-md-4">
                    <div class="thumbnail" style="min-height: 350px;">
                        <img src="@Url.Action("GetImage","Catalog", new { productId = item.Item.Id })" style="width:220px;height:150px;" alt="Brak obrazka">
                        <div class="caption">
                            <h4 class="pull-right">@item.Item.Price.ToString("c")</h4>
                            <h4>
                                <a href='@Url.Action("ItemDescription", "Catalog", new { productId = item.Item.Id, catalogId = item.Item.Id_Category })'>@item.Item.Title</a>
                            </h4>
                            <p>@item.Item.Description.Name.Substring(0, 50)...</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">@item.Opinions.Count() recenzji</p>
                            <p>
                                @{
                                    var suma = item.Opinions.Select(x => (int)x.Rate).Sum();
                                    var count = item.Opinions.Count();
                                    int gwiazdki = 0;
                                }

                                @try
                                {
                                    gwiazdki = (int)(suma / count);
                                }
                                catch (Exception)
                                {
                                    gwiazdki = 0;
                                }

                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < (int)gwiazdki)
                                    {
                                        <span class="glyphicon glyphicon-star" style="color: #ff4d4d;"></span>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-star-empty" style="color: #ff4d4d;"></span>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <hr />

    <h3 style="margin-left:15px;margin-top:-10px;">Przedmioty najczęściej oceniane:</h3>
    <div class="row">
        @{
            foreach (var item in Model.TopRated)
            {
                <div class="col-sm-4 col-lg-4, col-md-4">
                    <div class="thumbnail" style="min-height: 350px;">
                        <img src="@Url.Action("GetImage","Catalog", new { productId = item.Item.Id })" style="width:220px;height:150px;" alt="Brak obrazka">
                        <div class="caption">
                            <h4 class="pull-right">@item.Item.Price.ToString("c")</h4>
                            <h4>
                                <a href='@Url.Action("ItemDescription", "Catalog", new { productId = item.Item.Id, catalogId = item.Item.Id_Category })'>@item.Item.Title</a>
                            </h4>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">@item.Opinions.Count() recenzji</p>
                            <p>
                                @{
                                    var suma = item.Opinions.Select(x => (int)x.Rate).Sum();
                                    var count = item.Opinions.Count();
                                    int gwiazdki = 0;
                                }

                                @try
                                {
                                    gwiazdki = (int)(suma / count);
                                }
                                catch (Exception)
                                {
                                    gwiazdki = 0;
                                }

                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < (int)gwiazdki)
                                    {
                                        <span class="glyphicon glyphicon-star" style="color: #ff4d4d;"></span>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-star-empty" style="color: #ff4d4d;"></span>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
                                    }
        }
    </div>
</div>

<style>
    body {
        font-family:'Open Sans',Arial;
    }
</style>