@model SportStore.Web.Models.Home.NewsletterModel

@{
    ViewBag.Title = "newsletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "body",
        Url = Url.Action("SaveNewsletter"),
        LoadingElementId = "loading",
    };
}

<link href="~/Content/Css/NewsletterCss/newsletter-theme.css" rel="stylesheet" type="text/css" />

<div class="panel panel-success">
    <div class="panel-body">

        <h4 style="font-family:'Open Sans', Arial;">Zapisz się na newsletter SportStore</h4>
        <hr />

        @using (Ajax.BeginForm(ajaxOptions))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TypeOfNews, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.selectedTypeOfNews, Model.TypeOfNews, "Wybierz dział", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.selectedTypeOfNews, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zapisz" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

        <hr />

        <div class="btn btn-default">
            @Html.ActionLink("Powrót", "Index")
        </div>
    </div>
</div>