@model SportStore.Web.Models.Catalog.ItemModel

@{
    ViewBag.Title = @Model.Item.Title;
}

<link href="~/Content/Css/CatalogCss/description.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Css/RatingCss/star-rating.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/star-rating.js" type="text/javascript"></script>

<div class="panel panel-success">

    <div class="row">
        <div class="col-md-3">
            <label id="label" for="details">Dane techniczne: </label>
            <ul id="details" class="list-group">
                <li class="list-group-item">Rozmiar: 5</li>
                <li class="list-group-item">Bezszwowa budowa TSBE</li>
                <li class="list-group-item">Zawór zwrotny butylowy</li>
                <li class="list-group-item">Unikalne wzornictwo EURO 2016</li>
                <li class="list-group-item">Wszechstronnie testowana</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-4">
                        <a href="pulpitrock.jpg" class="thumbnail">
                            <img src="http://placehold.it/800x300" alt="Pulpit Rock" style="width:340px;height:300px">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="moustiers-sainte-marie.jpg" class="thumbnail">
                            <img src="http://placehold.it/800x300" alt="Moustiers Sainte Marie" style="width:340px;height:300px">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="cinqueterre.jpg" class="thumbnail">
                            <img src="http://placehold.it/800x300" alt="Cinque Terre" style="width:340px;height:300px">
                        </a>
                    </div>
                </div>
                <div class="caption-full">
                    <h4 class="pull-right">
                        <a href="#" class="btn btn-info">
                            <span class="glyphicon glyphicon-shopping-cart"></span> @Model.Item.Price.ToString("c")
                        </a>
                    </h4>
                    <h4>
                        <a href="#">@Model.Item.Title</a>
                    </h4>
                    <p id="desc">
                        @Model.Item.Description.Name
                    </p>
                </div>
                <div class="ratings">
                    <p class="pull-right" style="color: #ff4d4d;">
                        Liczba opinii: @Model.Opinions.Count()
                    </p>
                    <p>
                        @{
                            var suma = @Model.Opinions.Select(x => (int)x.Rate).Sum();
                            var count = @Model.Opinions.Count();
                            int gwiazdki = 0;
                        }

                        @try
                        {
                            gwiazdki = (int)(suma / count);
                        }
                        catch (Exception)
                        {
                            gwiazdki = 0;
                        }

                        @for (int i = 0; i < 5; i++)
                        {
                            if (i < (int)gwiazdki)
                            {
                                <span class="glyphicon glyphicon-star" style="color: #ff4d4d;"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-star-empty" style="color: #ff4d4d;"></span>
                            }
                        }
                        <span style="color: #ff4d4d;">Ocena: @((int)gwiazdki)/5</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="text-right">
        <a class="btn btn-success" data-toggle="modal" data-target="#modalOpinion">Zostaw opinię</a>
    </div>
    <hr>
    @{
        foreach (var item in Model.Opinions.Reverse())
        {
            <div class="row">
                <div class="col-md-12">
                    @for (int i = 0; i < 5; i++)
                    {
                        if (i < (int)item.Rate)
                        {
                            <span class="glyphicon glyphicon-star"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-star-empty"></span>
                        }
                    }
                    @if (item.Id_Client != null)
                    {
                        <span>@item.Client.Name</span>
                    }
                    else
                    {
                        var anonymous = "Anonimowy";
                        <span>@anonymous.ToString()</span>
                    }
                    <span class="pull-right">@item.InsertTime.ToString("dd MMMM yyyy") o @item.InsertTime.ToShortTimeString()</span>
                    <p>@item.Opinion</p>
                </div>
            </div>
            <hr />
        }
    }
</div>

<!-- Modal zostawienia opinii o produkcie -->
<div class="modal fade" id="modalOpinion" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Opinia o: @Model.Item.Title</h4>
            </div>
            <div class="modal-body">
                <!-- Body modala -->
                <div class="form-group">
                    <label for="comment">Opinia:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <label for="input-1">Oceń produkt:</label>
                <input id="input-1" class="rating" data-min="0" data-max="5" data-step="1" data-size="xs" value="0">
            </div>
            <div class="modal-footer">
                <a href="" id="sendOpinion" type="button" class="btn btn-primary" data-dismiss="modal">Wyślij</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var Url = document.URL;

        $("#sendOpinion").click(function () {

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                url: Url,
                type: 'POST',
                dataType: 'json',
                data: getOpinionModel(),
                success: function(data) {
                    location.reload();
                },
                failure: function () { }
            });

        });
    });

    function getOpinionModel()
    {
        var rating = document.getElementById("input-1").value;
        var opinion = document.getElementById("comment").value;
        var itemId  = @Model.Item.Id;

        @{
            int id;
            if (Session["Client"] != null)
            {
                id = (Session["Client"] as SportStore.Web.Models.Client.AccountModel).Id;
            }
            else
            {
                id = -1;
            }
        }

        var client = @id;

        var model = {
            Id_User: client,
            Id_Item: itemId,
            Opinion: opinion,
            Rate: rating
        };

        model = JSON.stringify({ 'opinionModel': model });

        return model;
    }
</script>