<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportStore - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
    <link href="~/Content/SbAdmin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SbAdmin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/SbAdmin/dist/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/SbAdmin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/SbAdmin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/SbAdmin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/SbAdmin/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/Content/SbAdmin/dist/js/sb-admin-2.js"></script>
</head>
<body>
    @{
        var session = Session["Employee"] as SportStore.Domain.Entities.employees;
    }
    <div>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href='@Url.Action("Index")'>SportStore - @session.Name @session.Surname</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href='@Url.Action("Logout")'><i class="fa fa-sign-out fa-fw"></i> Wyloguj się</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href='@Url.Action("Index")'><i class="fa fa-dashboard fa-fw"></i>Główna</a>
                            </li>
                            <li>
                                <a href='@Url.Action("Stats")'><i class="fa fa-bar-chart-o fa-fw"></i> Statysyki</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-database fa-fw"></i>Katalogi<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href='@Url.Action("CatalogManagment")'>Zarządzanie katalogami</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-shopping-cart fa-fw"></i>Zamówienia<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href='@Url.Action("OrderManagment")'>Zarządzanie zamówieniami</a>
                                    </li>
                                    <li>
                                        <a href="#">Dodaj zamówienie</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-paypal fa-fw"></i>Produkty<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href='@Url.Action("ItemsManagment")'>Zarządzanie produktami</a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("Opinions")'>Opinie</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-support fa-fw"></i>Reklamacje</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-comments fa-fw"></i>Pytania</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-book fa-fw"></i>Słowniki</a>
                            </li>
                            @{
                                if (session.Id_Rule == (int)SportStore.Domain.Entities.Rules.Admin)
                                {
                                    <li>
                                        <a href="#"><i class="fa fa-cogs fa-fw"></i>Zarządzanie kontami<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li>
                                                <a href='@Url.Action("ClientManagment")'>Klient</a>
                                            </li>
                                            <li>
                                                <a href='@Url.Action("EmployeeManagment")'>Pracownik</a>
                                            </li>
                                            <li>
                                                <a href="#">Dodaj konto</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("RegisterKeys")'><i class="fa fa-key fa-fw"></i>Kody rejestracyjne</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            @{
                                if (TempData["Alert"] != null)
                                {
                                    var alert = TempData["Alert"] as SportStore.Web.HtmlHelpers.Classes.EmployeeAlert;

                                    <div style="margin-top:15px;" class="alert @alert.Alert alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        @alert.Message
                                    </div>
                                }
                            }
                            @RenderBody()
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
    </div>

</body>
</html>