<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Store - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/Content/Css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" href="~/Content/validation.css" type="text/css" />
    <link href="~/Content/Css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Css/IndexCss/index-theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Css/MenuCss/menu_styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,700&amp;subset=latin-ext" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic&amp;subset=latin-ext" />
    <link href="~/Content/Css/SearchBarCss/searchbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Css/IndexCss/cookie.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="~/Scripts/menu_script.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body id="body" onload="checkCookie()">

    <div id="loading" class="load" style="display:none">
        <img src="~/Content/Images/loading_gif.GIF" alt="Loading Screen" />
    </div>

    <div class="navi">
        <div id="navi-banner">
            @{
                if (Session["Client"] != null)
                {
                    <a href='@Url.Action("AccountManagment", "Client")' class="btn btn-primary btn-xs">Konto</a>
                    <a href='@Url.Action("Cart", "Home")' class="btn btn-primary btn-xs">Koszyk</a>
                    <a href='@Url.Action("Logout", "Client", new { returnUrl = Request.Url.PathAndQuery })' class="btn btn-primary btn-xs">Wyloguj się</a>
                }
                else
                {
                    <a href='@Url.Action("Cart", "Home")' class="btn btn-primary btn-xs">Koszyk</a>
                    <a href='@Url.Action("Login", "Client", new { returnUrl = Request.Url.PathAndQuery })' class="btn btn-primary btn-xs">Zaloguj się</a>
                    <a href='@Url.Action("Register", "Client", new { returnUrl = Request.Url.PathAndQuery })' class="btn btn-primary btn-xs">Rejestruj się</a>
                }
            }
        </div>

        <div class="row">
            <div class="col-sm-4">
                <img id="logo" src="~/Content/Images/Index/main-banner.png" alt="Logo główne" />
            </div>
            <div class="col-sm-4">
                @* Div globalnej wyszukiwarki *@
                <div id="global_search_div">
                    @using (Html.BeginForm("GlobalSearch", "Search", FormMethod.Get, new { @class = "searchform cf" }))
                    {
                        @Html.Editor("Czego szukasz?", "searchText", "searchText", new { htmlAttributes = new { @placeholder = "Przeszukaj sklep SportStore" } })
                        <button type="submit">Szukaj</button>
                    }
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>

    <div class="all">

        <div id='cssmenu'>
            <ul>
                <li>
                    <a href='@Url.Action("Index","Home")'><span>Główna</span></a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#myModal"><span>Kategorie</span></a>
                </li>
                <li>
                    <a href='@Url.Action("AboutUs", "Home")'><span>O nas</span></a>
                </li>
                <li>
                    <a href='@Url.Action("Contact", "Home")'><span>Kontakt</span></a>
                </li>
                <li class="last">
                    <a href='@Url.Action("Login", "Employee")'><span>Dla pracowników</span></a>
                </li>
            </ul>
        </div>

        @{ Html.RenderAction("CatalogPartialView", "Catalog"); }

        <div class="body-content" id="content">
            @{
                var alert = SportStore.Web.Models.Home.Alert.IsAlerted;

                if (alert)
                {
                    var alertType = SportStore.Web.Models.Home.Alert.AlertType;
                    var message = SportStore.Web.Models.Home.Alert.Message;

                    <div class="alert alert-@alertType fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @message
                    </div>

                    SportStore.Web.Models.Home.Alert.ClearAlert();
                }
            }

            @RenderBody()
        </div>

        <div class="table">
            <img src="~/Content/Images/Banners/callus.jpg" alt="Zadzwoń do nas" style="margin-left: 8%;" />
            <table class="footer-table">
                <tr>
                    <td> <img src="~/Content/Images/Index/banner-1.png" alt="banner1" /> </td>
                    <td> <img src="~/Content/Images/Index/banner-2.png" alt="banner2" /> </td>
                    <td> <img src="~/Content/Images/Index/banner-3.png" alt="banner3" /> </td>
                    <td> <img src="~/Content/Images/Index/banner-4.png" alt="banner4" /> </td>
                </tr>
            </table>
        </div>

        <div class="footer">
            <table>
                <tr>
                    <td class="newsleeter">
                        <div>
                            <p id="news-header">NEWSLETTER</p>
                            <p id="news-txt">Bądź na bieżąco z nowościami i promocjami!</p>
                            <div id="button-news">
                                <a href="@Url.Action("SaveNewsletter", "Home")"> Zapisz się </a>
                            </div>
                        </div>
                    </td>
                    <td class="white-field">
                        <div>
                            <table class="table table-responsive">
                                <tr>
                                    <td><strong>O nas</strong></td>
                                    <td><strong>Informacje</strong></td>
                                    <td><strong>Mapa strony</strong></td>
                                </tr>
                                <tr class="white-field-txt">
                                    <td>O firmie</td>
                                    <td>Regulamin</td>
                                    <td>Lista produktów</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="cookieAlert">
        <table>
            <tr>
                <td>
                    <p>Strona korzysta z plików cookie w celu realizacji usług zgodnie z Polityką dotyczącą cookies.</p>
                </td>
                <td>
                    <button id="cookieButton" onclick="acceptCookie()">Rozumiem</button>
                </td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">

        function acceptCookie() {
            var div = document.getElementById("cookieAlert");
            div.style.display = "none";
            setCookie("cookie", true, 7);
        }

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');

            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];

                while (c.charAt(0) == ' ')
                    c = c.substring(1);

                if (c.indexOf(name) == 0)
                    return c.substring(name.length, c.length);
            }

            return "";
        }

        function checkCookie() {
            var cookie = getCookie("cookie");

            if (cookie != "") {
                var div = document.getElementById("cookieAlert");
                div.style.display = "none";
            }
        }
    </script>
</body>
</html>