<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Store - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
    <link rel="stylesheet" href="~/Content/Css/RegisterCss/register.css"/>
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/Css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/Content/validation.css" type="text/css" />
    <link href="~/Content/Css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Css/NewsletterCss/newsletter-theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Css/IndexCss/index-theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Css/MenuCss/menu_styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,700&amp;subset=latin-ext" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic&amp;subset=latin-ext" />
    <link href="~/Content/Css/SearchBarCss/searchbar.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="~/Scripts/menu_script.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
</head>
<body id="body">

    <div id="loading" class="load" style="display:none">
        <img src="~/Content/Images/loading_gif.GIF" alt="Loading Screen" />
    </div>

    <div class="navi">
        <div id="navi-banner">
            @{
                if (Session["Client"] != null)
                {
                    var clientName = Session["Client"];
                    @Html.ActionLink("Witaj " + clientName + " ", "AccountManagment", new { controller = "Client", user = clientName });
                    @Html.ActionLink("Wyloguj się", "Logout", "Client", new { returnUrl = Request.Url.PathAndQuery }, null);
                }
                else
                {
                    @Html.ActionLink("Zaloguj się ", "Login", "Client", new { returnUrl = Request.Url.PathAndQuery }, null);
                    @Html.ActionLink("Rejestruj się", "Register", "Client");
                }
            }
        </div>

        <img src="~/Content/Images/Index/main-banner.png" alt="Logo główne" />

        @* Div globalnej wyszukiwarki *@
        <div id="global_search_div">
            @using (Html.BeginForm("GlobalSearch", "Search", FormMethod.Post, new { @class = "searchform cf" }))
            {
                @Html.Editor("Czego szukasz?", "searchText", "searchText", new { htmlAttributes = new { @placeholder = "Przeszukaj sklep SportStore" } })
                <button type="submit">Szukaj</button>
            }
        </div>

    </div>

    <div class="all">

        <div id='cssmenu'>
            <ul>
                <li><a href='@Url.Action("Index","Home")'><span>Główna</span></a></li>
                <li>
                    <a href='#'><span>Kategorie</span></a>
                </li>
                <li><a href='#'><span>O nas</span></a></li>
                <li class='last'><a href='#'><span>Kontakt</span></a></li>
            </ul>
        </div>

        <div class="body-content">
            @RenderBody()
        </div>

        <div class="table">
            <table class="footer-table">
                <tr>
                    <td> <img src="~/Content/Images/Index/banner-1.png" alt="banner1" /> </td>
                    <td> <img src="~/Content/Images/Index/banner-2.png" alt="banner2" /> </td>
                    <td> <img src="~/Content/Images/Index/banner-3.png" alt="banner3" /> </td>
                    <td> <img src="~/Content/Images/Index/banner-4.png" alt="banner4" /> </td>
                </tr>
            </table>
        </div>

        <div class="footer">
            <table>
                <tr>
                    <td class="newsleeter">
                        <div>
                            <p id="news-header">NEWSLETTER</p>
                            <p id="news-txt">Bądź na bieżąco z nowościami i promocjami!</p>
                            <div id="button-news">
                                <a href="@Url.Action("SaveNewsletter", "Home")"> Zapisz się </a>
                            </div>
                        </div>
                    </td>
                    <td class="white-field">
                        <div>
                            <table>
                                <tr>
                                    <td><strong>O nas</strong></td>
                                    <td><strong>Informacje</strong></td>
                                    <td><strong>Mapa strony</strong></td>
                                </tr>
                                <tr class="white-field-txt">
                                    <td>O firmie</td>
                                    <td>Regulamin</td>
                                    <td>Lista produktów</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>