@model IEnumerable<SportStore.Domain.Entities.items>
@{
    ViewBag.Title = "Zarządzanie produktami";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<link href="~/Content/SbAdmin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/SbAdmin/bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet" />
<script src="~/Content/SbAdmin/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Content/SbAdmin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<div class="panel panel-default" style="margin-top: 10px;">
    <div class="panel-heading">
        Produkty
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Przedmiot</th>
                        <th>Kategoria</th>
                        <th>Cena</th>
                        <th>Edycja</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Title</td>
                                <td>@item.Category.Name</td>
                                <td>@item.Price.ToString("c")</td>
                                <td>
                                    @Html.ActionLink("Edycja", "ItemsEdit", "Employee", new { id = item.Id }, new { @class = "btn btn-primary" })
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger">Usuń</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Dodaj nowy produkt</button>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>